* {
  font-family: "Roboto", sans-serif;
}

.App {
  header {
    display: flex;
    justify-content: center;
  }
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      width: 800px;
    }
  }
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      width: 350px;
    }
  }
}
